{{#each this}}
<a class="photo-card" href="{{largeImageURL}}">
  <div class="gallery__item">
    <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy"/>
  </div>
  <ul class="info list">
    <li class="info__item">
      <b class="info__title">Likes</b>
      {{likes}}
    </li>
    <li class="info__item">
      <b class="info__title">Views</b>
      {{views}}
    </li>
    <li class="info__item">
      <b class="info__title">Comments</b>
      {{comments}}
    </li>
    <li class="info__item">
      <b class="info__title">Downloads</b>
      {{downloads}}
    </li>
  </ul>
</a>
{{/each}}